<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/javascripts/addBook.js"></script>
<center>
  <h3>Add Book</h3>
</center>
<hr/>

<div class="col-md-4"></div>
<div class="col-md-7">
  <form name="form" method="post">
    <div class="ui-widget row">
      <label for="branch" class="col-md-3">Branch: </label>
      <input class="col-md-4" id="branch" name="branch" type="text" required="true">
    </div>

    <br/>
    <div class="ui-widget row">
      <label for="publisher" class="col-md-3">Publisher: </label>
      <input class="col-md-4" id="publisher" name="publisher" type="text" required="true">
    </div>

    <br/>
    <div class="ui-widget row">
      <label for="author" class="col-md-3">Author: </label>
      <input class="col-md-4" id="author" name="author" type="text" required="true">
    </div>
    <br/>
    <div class="ui-widget row">
      <label for="title" class="col-md-3">Title: </label>
      <input class="col-md-4" id="title" name="title" type="text" required="true">
    </div>

    <br/>
    <div class="ui-widget row">
      <label for="isbn" class="col-md-3">ISBN: </label>
      <input class="col-md-4" id="isbn" name="isbn" type="text" required="true">
    </div>

    <br/>
    <div class="ui-widget row">
      <label for="pbdate" class="col-md-3">Published Date: </label>
      <input class="col-md-4" id="pbdate" name="pbdate" type="date" required="true">
    </div>

    <br/>
    <div class="ui-widget row">
      <label for="noc" class="col-md-3">Number Of Copies: </label>
      <input class="col-md-4" id="noc" name="noc" type="number" required="true">
    </div>

    <br/>
    <div class="ui-widget row">
      <div class="col-md-2"></div>
      <input id="submitForm" type="submit" value="Add Book" required="true" class="col-md-3">
    </div>
  </form>
</div>
