<% include head %>

<script src="/javascripts/allBranches.js"></script>
<header>
<center>
  <h3>Branch Information</h3>
</center>
</header>
<br/>
<div id="branchInformation" class="hidden">
<%=JSON.stringify(branchInformation)%>
</div>
<table id="branchTable" class="row-border dt-responsive">
</table>
<% include footer %>
