<script src="/javascripts/searchBooks.js"></script>
<center>
  <h3>Books</h3>
</center>
<hr/>
<div id="dataOfBooks" class="hidden">
<%=JSON.stringify(books.rows)%>
</div>
<table id="allBooks" class="row-border dt-responsive">
</table>
