<script src="/javascripts/searchBooks.js"></script>
<% include head %>

<header>
<center>
  <h3>Books</h3>
</center>
</header>
<br/>

<div id="dataOfBooks" class="hidden">
<%=JSON.stringify(books.rows)%>
</div>
<table id="allBooks" class="table table-striped table-bordered">
</table>
<% include footer %>
