<script src="/javascripts/searchBooks.js"></script>
<style>header {
    background-color:black;
    color:white;
 
    padding:8px;	 
}

</style>
<header>
<center>
  <h3>Books</h3>
</center>
<b>
 <a href="javascript:history.go(-1);"><font color="white">Previous Page</font></a>
<hr/>
</header>
<br/>

<div id="dataOfBooks" class="hidden">
<%=JSON.stringify(books.rows)%>
</div>
<table id="allBooks" class="row-border dt-responsive">
</table>
