<% include headreader %>
<script src="/javascripts/bookReturn.js"></script>

<header>
<center>
  <h3>Book Return</h3>
</center>
</header>
<br/>
<div id="bookReturnData" class="hidden">
<%=JSON.stringify(dataOfBorrowedBooks)%>
</div>
<table id="bookReturnTable" class="table table-striped table-bordered dataTable no-footer">
</table>
<strong>
<br/>
<div id="pgTotal" style="float:right;">Total(Page) : $ 0.00</div>
<br/>
<div id="grandTotal" style="float:right;">Grand Total : $ 0.00</div>
</strong>
<% include footer %>