<script src="/javascripts/bookReturn.js"></script>
<center>
  <h3>Book Return</h3>
</center>
<hr/>
<div id="bookReturnData" class="hidden">
<%=JSON.stringify(dataOfBorrowedBooks)%>
</div>
<table id="bookReturnTable" class="row-border dt-responsive">
</table>
<strong>
<br/>
<div id="pgTotal" style="float:right;">Total(Page) : $ 0.00</div>
<br/>
<div id="grandTotal" style="float:right;">Grand Total : $ 0.00</div>
</strong>
