<script src="/javascripts/myReservations.js"></script>
<style>header {
    background-color:black;
    color:white;

    padding:8px;
}

</style>
<header>
<center>
  <h3>Top 10 Readers</h3>
</center>
<b>
 <a href="javascript:history.go(-1);"><font color="white">Previous Page</font></a>
<hr/>
</header>
<br/>
<div id="myReservations" class="hidden">
<%=JSON.stringify(myReservations)%>
</div>
<table id="myReservationsTable" class="row-border dt-responsive">
</table>
