<% include headreader %>
<script src="/javascripts/myReservations.js"></script>

<header>
<center>
  <h3>My Reservations</h3>
</center>
</header>
<br/>
<div id="myReservations" class="hidden">
<%=JSON.stringify(myReservations)%>
</div>
<table id="myReservationsTable" class="table table-striped table-bordered dataTable no-footer">
</table>
<% include footer %>