<% include headreader %>
<script src="/javascripts/myReservations.js"></script>

<header>
<center>
  <h3>Top 10 Readers</h3>
</center>
</header>
<br/>
<div id="myReservations" class="hidden">
<%=JSON.stringify(myReservations)%>
</div>
<table id="myReservationsTable" class="row-border dt-responsive">
</table>
<% include footer %>