<div style="height:35px"></div>
<div class="row">
  <div class="col-md-3">
    <a href="/searchBooks">Search Books</a>
  </div>
  <div class="col-md-3">
    <a href="/searchBooks">Book Check Out</a>
  </div>
  <div class="col-md-3">
    <a href="/searchBooks">Book Return</a>
  </div>
  <div class="col-md-3">
    <a href="/searchBooks">Book Reserve</a>
  </div>
</div>
<div style="height:35px"></div>
<div class="row">
  <div class="col-md-3">
    <a href="/searchBooks">Compute Fine</a>
  </div>
  <div class="col-md-3">
    <a href="/searchBooks">All researved by me</a>
  </div>
  <div class="col-md-3">
    <a href="/searchBooks">Search Books By Publisher</a>
  </div>
</div>
