<% include headreader %>
<script src="/javascripts/reserveBook.js"></script>

<header>
<center>
  <h3>Books</h3>
</center>

</header>
<br/>

<div id="dataOfBooks" class="hidden">
<%=JSON.stringify(books.rows)%>
</div>
<table id="allBooks" class="row-border dt-responsive">
</table>
<% include footer %>