<% include head %>

<script src="/javascripts/top10Books.js"></script>

<header>
<center>
  <h3>Top 10 Books</h3>
</center>

</header>
<br/>
<div id="top10Books" class="hidden">
<%=JSON.stringify(top10Books)%>
</div>
<table id="top10BooksTable" class="table table-striped table-bordered">
</table>
<% include footer %>
