<% include head %>

<script src="/javascripts/watchTop10Readers.js"></script>

<header>
<center>
  <h3>Top 10 Readers</h3>
</center>

</header>
<br/>
<div id="top10Readers" class="hidden">
<%=JSON.stringify(top10Readers)%>
</div>
<table id="top10ReadersTable" class="row-border dt-responsive">
</table>
<% include footer %>
