<script src="/javascripts/watchFines.js"></script>
<style>header {
    background-color:black;
    color:white;
 
    padding:8px;	 
}

</style>
<header>
<center>
  <h3>Fines</h3>
</center>
 <b>
 <a href="javascript:history.go(-1);"><font color="white">Previous Page</font></a>
<hr/>
</header>
<br/>
<div id="dataOfFines" class="hidden">
<%=JSON.stringify(result.rows)%>
</div>
<table id="fines" class="row-border dt-responsive">
</table>
<strong>
<br/>
<div id="pgTotal" style="float:right;">Total(Page) : $ 0.00</div>
<br/>
<div id="grandTotal" style="float:right;">Grand Total : $ 0.00</div>
</strong>
